*.gcda
*.gcno
*.gcov
*.o
*.out
.*.swp
Session.vim
anchor_compar.c
anchor_compar.h
bm
cmd.log
db
db.old
dump
dump.*
dups
dups.*
fdmf_correlator
fdmf_sonic_reducer
fdmf_vector_pairs
report
tags
tools/closure
wrk
